
<div id="dashboardHead">
    <h1>Dashboard</h1>
    <a href="/dashboard/createpost"><button id="createPostBtn">Create New Post</button></a>
</div>

<div id="postList">
    {{#each posts as |post| }}
    <a href="post/{{post.id}}" class="blogPost">
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
        <div>
            <button onclick="window.location.href='dashboard/edit/{{post.id}}'; return false;">Edit</button>
            <footer>Created on {{post.date_created}}</footer>
            <button class="deleteBtn" data-id="{{post.id}}">Delete</button>
        </div>
    </a>
    {{/each}}
</div>

<script src="/js/delete.js"></script>